.btn {
  border-radius: 1.0rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 3.0rem;
  border:0;
  font-weight: bold;
  font-size: 1.6rem;
  height: 5.2rem;
  padding: 1.7rem 2.5rem;
  background-color: var(--green-light);
  color: var(--white);
}

.btn.--outline {
  border: 1px solid var(--green-light);
  color: var(--green-light);
  background-color: var(--white);
}

.game-type-button {
  border-radius: 100px;
  padding: 0.9rem 2.2rem;
  height: 3.6rem;
  border: 2px solid currentColor;
}
